body{
    margin-left: 50px;
    margin-right: 50px;
    background: #78909c;
}
nav{
    text-indent: 15px;
}
.scroll > a{
    font-size: large;
    margin: 30px;
    
}
.icons{
    float: right;
}
footer{

}
.ilike-blue-container {
    @extend .blue, .lighten-4;
  }
.scroll{
    animation-timing-function: linear;
    position: relative;
    animation: mymove 10s infinite;
}
.mini_icon{
    height: 20px;
    width: 20px;
}
@keyframes mymove {
    from {left: -300px;}
    to {left: 1400px;}
}
