body{
    margin-left: 50px;
    margin-right: 50px;
}
nav{
    text-indent: 15px;
}
.scroll > a{
    font-size: large;
    margin: 30px;
    
}
.navright{
    margin-right: 20px;
}
.icons{
    float: right;
}
footer{

}
.highlight {
    background: yellow;
}
.scroll{
    animation-timing-function: ease-out;
    position: relative;
    animation: mymove 50s infinite;
}
.mini_icon{
    height: 20px;
    width: 20px;
}
@keyframes mymove {
    from {left: 1400px;}
    to {left: -750px;}
}

@keyframes mymove2 {
    0%   { background: orange}
    20%  {right: 0px; background: yellow}
    40% { background: white;}
    60%  {left: 0px; background: purple}
    80% {left: 0px; background: teal}
    100%   { background: orange}
}
@keyframes mymove3 {
    0%   { background: pink;}
    20%  { background: green}
    40%  {background: gray }
    60%  { background: brown}
    80% {background: black}
    100% { background:pink}
}
.crazy{
    color: white;
    position: relative;
    -webkit-animation: mymove2 4s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove2 4s infinite;
}
.crazy2{
    position: relative;
    -webkit-animation: mymove3 4s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove3 4s infinite;
}
#emailcard{
    padding: 30px;
}